<%- include('../partials/boilerplate') %>
<body>
    <%- include('../partials/header') %>
    <h1>DavidBook - Profile</h1>
    <% for (let i = 0; i < users.length; i++) { %>
        <b><p><%= users[i].username %></p></b>
        <img src=<%= users[i].img %> alt="User"/>
        <p><%= users[i].aboutMe %></p>
    <% } %>
</body>
</html>